body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.game-content, .game-content-card, .game-body{
    display: grid;
    justify-content: center;
    
}
.game-content-card{
    margin-top: 150px;
}

.game-content{
    background-color: white;
    padding:25px 50px 100px 50px;
}

.game-body{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.gameBoard{
    display: grid;
    grid-template-rows: 0.4fr 0.4fr 0.2fr;
    grid-template-columns: 0.4fr 0.4fr 0.2fr; 
    
}

.square-container{
    display: grid;
    padding: 30px;
    border: 1px solid black;
}

.square{
    display: grid;
    padding: 10px;
}