.outerDiv{
    display: grid;
    background-color: white;
    grid-template-rows: repeat(5, 1fr);
}

.first-Container{
    display: grid;
    justify-content: center;
    
}

.first-Container-ImgDiv{
    border: 1px solid;
    border-color: black;
    padding: 30px 0px 30px 0px;
}

.first-Container-Image{
    width: 70%; /* Make image fill the width of the div */
    height: auto; /* Maintain image aspect ratio */
    position: relative; /* Optional: allows positioning within the div */
    top: 50%; /* Optional: center the image vertically */
    transform: translateY(-50%); /* Optional: fine-tune vertical centering */
}