.outerDiv,
.first-Container,
.second-Container,
.third-Container,
.fourth-Container,
.fifth-Container {
    padding: 0;
    margin: 0;
    border: none; /* Remove any borders if accidentally set */
    line-height: 1; /* Optional: Set line-height to match font size */
}

.outerDiv{
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
}

.first-Container{
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.first-Container-ImgDiv {
    border:none;
    border-radius: 30px;
    margin: 100px 30px 0px 30px;
    
}

.first-Container-Image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 30px;
}

/* Second container Styling */

.second-Container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px 30px 0px 30px;
}

.second-Container-LettersDiv{
    display: grid;
    padding: 50px 0px 70px 0px;
    justify-content: center;
}

.second-Container-PicDiv{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    object-fit: cover;
    padding: 0px 50px 60px 50px;
    grid-gap: 20px;
    justify-content: center;
}

.carousal-Pic{
    display: grid; 
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.carousal-Img{
    
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    display: block;  
    margin: 0 auto;  
    overflow: hidden;
    border-radius: 20px;
}

.second-div-title{
    display: flex; 
    justify-content: center;
    color: orange;
    padding-bottom: 20px;
    font-size: 50px;
    text-shadow: -1px 5px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

/* Third & fourth container */

.third-Container, .fourth-Container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: 511px;
    border: 6px solid rgb(15, 51, 1);
    margin: 0px 30px 50px 30px;
    border-radius: 30px;
}

.menu-Container, .fourth-Container-Text, .fourth-Container-Pic{
    display: grid;
    height: 500px;

}

.menu-Pic{
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    display: block; 
    margin: 0 auto;  
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}

.fourth-Container-Pic-Img{
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    display: block; 
    margin: 0 auto;  
    overflow: hidden;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.menu-Pic-Container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:rgb(255, 224, 124);

}

.fourth-Container-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:rgb(78, 219, 172);
}

.menu-Title, .fourth-Container-Title{
    color: orange;
    text-shadow: -1px 5px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    font-size: 50px;
    padding-bottom: 40px;
    
}

.menu-Text, .fourth-Container-Subheader{
    padding-bottom: 40px;
    
}

.menu-Button, .fourth-Container-Button{
    background-color: orange;
    padding: 10px 60px 10px 60px;
    font-size: 15px;
    border: 3px solid rgb(15, 51, 1);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu-Button:hover , .fourth-Container-Button:hover{

    background-color: rgb(255, 255, 255); 
    }