.menu-container{
    display: grid;
    margin: 120px ;
}

.menu-one{
    display: grid;
    grid-template-rows: 80px 550px;
    border: 2px solid black;
    padding-bottom: 0;
    margin-bottom: 0;
}

.menu-one-title{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 151, 16, 0.438);
    font-weight: bolder;
    font-size: 20px;
}

.menu-one-items{
    display: grid;
    grid-template-rows: 190px  100px 100px auto;
    margin: 40px 0px 0px 30px;
}

h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 6px;
    font-weight: 400;
    margin-left: 20px;
}

h4{
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: bolder;
}

span{
    font-weight: 400;
}

.first-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 100px 30px 100px;
    padding: 10px ;
    font-weight: bolder;
    font-size: medium;
    background-color: rgba(255, 166, 0, 0.329);
}