body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.game-content, .game-content-card, .game-body{
    display: grid;
    justify-content: center;
    
}
.game-content-card{
    margin-top: 150px;
}

.game-content{
    padding:25px 50px 100px 50px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    border-radius: 20px;
}

.game-body{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.gameBoard{
    display: grid;
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    grid-template-columns: 0.4fr 0.4fr 0.4fr; 
    
}

.game-tile{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.player1, .player2{
    display: grid;
    align-items: center;
    padding-left: 30px;
    
}

.square-container{
    display: grid;
    padding: 30px;
    border: 1px solid black;
}

.square{
    display: grid;
    padding: 10px;
}